@font-face {
               font-family: "Roboto-Bold";
               src: url(../fonts/fonts/Roboto-Bold.ttf);
}
@font-face {
               font-family: "Roboto-Medium";
               src: url(../fonts/fonts/Roboto-Medium.ttf);
}
@font-face {
               font-family: "Roboto-Regular";
               src: url(../fonts/fonts/Roboto-Regular.ttf);
}